.Main{
    width: 100%;
    min-height: calc(100vh - 80px - 80px);
    background-color: #d5f4f4;
    padding: 60px;
   /* justify-content: center;
    background-image: url('/components/01.jpeg'); display: flex;*/
}
.Main h1{
  
     margin: auto;
}